
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

.form-control {
    min-height: 30px;
}

.form-group {
    display: inline-block;
    max-width: 100%;

}




